/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;

  --main-text-color: #F1B2CE;
  --section-title-color: #FF0070;
  --subtitle-color: #000028;
  --button-color: #FF0070;
  --button-hover: rgb(255 0 112 / 0.4);
  --accent-color: #FF0070;
  --header-title-color: #DB00FF;
}

.theme-dark .rec-element {
  display: flex;
}