/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: #FFF1F7;

  --main-text-color: #353430;
  --section-title-color: #353430;
  --subtitle-color: #353430;
  --button-color: #353430;
  --button-hover: rgb(50 49 45 / 0.4);
  --accent-color: #FF8DCB;
  --header-title-color: #FFC2E6;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url(../images/cover-image-light.png);
    --bg-color: #FFF1F7;

    --main-text-color: #353430;
    --section-title-color: #353430;
    --subtitle-color: #353430;
    --button-color: #353430;
    --button-hover: rgb(50 49 45 / 0.4);
    --accent-color: #FF8DCB;
    --header-title-color: #FFC2E6;
  }
}