/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --button-bg-color: transparent;
  --text-size: 18px;
  --mob-padding: 10px;
  --not-mob-padding: 20px;
  --min-height-mob: 660px;
  --min-height-tablet: 992px;
  --min-height-comp: 768px;

  --main-font: 'IBM Plex mono';

  --main-text-color: #F1B2CE;
  --section-title-color: #FF0070;
  --subtitle-color: #000028;
  --button-color: #FF0070;
  --button-hover: rgb(255 112 102 / 0.4);
  --accent-color: #FF0070;
  --header-title-color: #DB00FF;
}